<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpit.chhotescientists">

    <!-- internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- network check class -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.chhotescientists.util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.chhotescientists.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.chhotescientists.activity.MainActivity"
            android:theme="@style/CustomAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.CreditsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/credit_text"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.JoinEventActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.MyProfileActivity"
            android:label="@string/my_profile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.FeedbackActivity"
            android:label="@string/send_feedback_msg"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.UpdateDetailActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.UpdateProfileActivity"
            android:label="@string/edit_profile"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.ChangePasswordActivity"
            android:label="@string/change_passwod"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.util.ActivityImage"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.ExperimentViewActivity"
            android:label="@string/exp_list"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.ExperimentDetailActivity"
            android:label="@string/exp_detail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.CalenderViewActivity"
            android:label="@string/view_calender"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.chhotescientists.activity.PlayVideoActivity"
            android:label="@string/play_video"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="org.chhotescientists.activity.SessionCheckInActivity"
            android:label="@string/session_questionnaire"
            android:parentActivityName="org.chhotescientists.activity.MainActivity"/>
    </application>

</manifest>